name: Run Robot Framework Tests
on:
  workflow_dispatch:
  push:
  pull_request:
    branches:
      - main
jobs:
  build:
    name: Run Robot Framework Tests from repo rdomian/testGithubActions
    runs-on: ubuntu-latest
    steps:
      - name: Run tests
        uses: convictional/trigger-workflow-and-wait@v1.6.1
        with:
          owner: rdomian
          repo: testGithubActions
          github_token: ${{ secrets.GH_ACTIONS }}
          workflow_file_name: run_robot_framework_tests.yml
          ref: fail
          wait_interval: 30
